.tabColor {
  color: black;
}

.tabWrap {
  margin-top: 15px;
}

.progWrap {
  position: absolute;
  top: 74px;
  right: 30px;
}

.center {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}
