.tabColor {
  color: black;
}

.tabWrap {
  margin-top: 15px;
  position: sticky;
}

.progWrap {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(4px, -3px);
}

.center {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

.filtersWrap {
  display: flex;
}
